
   <!-- Dashboard Section -->
   <section id="dashboard" class="content-section">
    <div class="hero">
        <h1>Welcome to Admin Dashboard</h1>
        <p>Manage guest houses and bookings efficiently.</p>
        <a href="http://localhost:4200/admin-dashboard/approval">
          <button>Explore Now</button>
        </a>
    </div>
    <h2 class="text-white">Your Dashboard</h2>
    <div class="cards">
        <div class="card">
            <h3>Total Bookings</h3>
            <h1 class="">{{totalBookings}}</h1>
        </div>
        <div class="card">
            <h3>Pending Approvals</h3>
            <h1>{{pendingBooking}}</h1>
        </div>
        <div class="card">
            <h3>Available Rooms</h3>
            <h1>{{totalAvailableRooms}}</h1>
        </div>
    </div>
</section>
