
<main class="dashboard">
  <!-- Dashboard Section -->
  <section id="dashboard" class="content-section">
      <div class="hero">
          <h1>Welcome to Your Employee Dashboard</h1>
          <p>Manage your bookings with ease.</p>
          <a href="http://localhost:4200/employee-dashboard/mybookings">
            <button>Explore Now</button>
          </a>
      </div>
      <h2 class="text-white py-2">Your Dashboard</h2>
      <div class="cards " >
          <div class="card">
              <h3>Your Booking</h3>
              <p>Chennai - 3 Sharing</p>
          </div>
          <div class="card">
              <h3>Status</h3>
              <p>Pending</p>
          </div>
          <div class="card">
              <h3>Check-in</h3>
              <p>7 Days Remaining</p>
          </div>
      </div>
  </section>




</main>
